.navbar-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.25rem;
}

.logo-btn {
    background: transparent;
    border: none;
    outline: none;
  }
  .logo-btn:hover {
    cursor: pointer;
  }